@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.bg-who-we-are {
  background: linear-gradient(180deg, #FFFDF3 58.47%, rgba(255, 253, 243, 0) 100%) !important;
}

.content-shadow {
  box-shadow: 0px 4px 8px 0px #CC263014;
}

.our-reach {
  background: linear-gradient(180deg, rgba(255, 253, 243, 0.85) 0%, rgba(255, 253, 243, 0) 0%, #FFFDF3 77.17%);
}

.blog_content p {
  padding-bottom: 1rem;
}